.plugin-hidden {
  display: none;
}

.sources-tree {
  overflow:auto;
  -moz-user-focus: true;
}

.sources-tree input {
  margin: 2px;
  border: 1px solid gray;
}

#main-deck .sources-tree {
  background: rgb(225, 225, 225);
}

#main-deck .sources-tree .side-menu-widget-item {
  color: #18191A;
}

#main-deck .sources-tree .side-menu-widget-item:hover {
  background: rgba(0, 0, 0, .05);
  cursor: pointer;
}

#main-deck .sources-tree .side-menu-widget-item.selected {
  background: #509FD7;
  color: #F5F7FA;
  outline: none;
}

#main-deck .sources-tree .side-menu-widget-group-title,
#main-deck .sources-tree .side-menu-widget-group-title.selected,
#main-deck .sources-tree .side-menu-widget-group-title:hover {
  background: #B4D7EB;
  color: #222;
  font-weight: bold;
  font-size: 1.05em;
  cursor: default;
}

#main-deck .sources-tree .side-menu-widget-group-title .expander {
  display: none;
}

#main-deck .sources-tree .side-menu-widget-item {
  border: none;
  box-shadow: none;
  line-height: 30px;
  vertical-align: middle;
}

/*#main-deck .sources-tree .side-menu-widget-item.selected {
  background: rgb(96, 161, 212);
}*/
#sources-tabs > tabs > tab > image {
  padding-right: 4px;
}

.tree-collapsed .children {
  display: none;
}

#itchpad-toolbar textbox {
  margin: 4px;
}

#pair-choice > toolbarbutton {
  text-shadow: none;
  min-height: 24px;
  padding: 0px 4px;
}

.results-panel-item-match {
  font-weight: bold;
}

.refresh-button {
  list-style-image: url("chrome://browser/skin/sync-16.png");
}

.settings-button {
  list-style-image: url("chrome://browser/skin/devtools/option-icon.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.source-live {
  list-style-image: url("chrome://browser/skin/devtools/command-responsivemode.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
.source-live:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
.source-live:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}
.source-live[selected=true] {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}

.source-project {
  list-style-image: url("chrome://browser/skin/devtools/command-tilt.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
.source-project:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.source-project:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

.source-project[checked=true] {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}

#pair-choice:not([aspects~="project"]) > #pair-project {
  display: none;
}

#pair-choice:not([aspects~="live"]) > #pair-live {
  display: none;
}

.pane-toggle {
  background: none;
  box-shadow: none;
  border: none;
  list-style-image: url("chrome://browser/skin/devtools/debugger-collapse.png");
  -moz-image-region: rect(0px,16px,16px,0px);
}

.pane-toggle[pane-collapsed] {
  list-style-image: url("chrome://browser/skin/devtools/debugger-expand.png");
}

.pane-toggle:active {
  -moz-image-region: rect(0px,32px,16px,16px);
}
