:root {
  color: #18191a;
}

.plugin-hidden {
  display: none;
}

.sources-tree {
  overflow:auto;
  -moz-user-focus: true;
}

.sources-tree input {
  margin: 2px;
  border: 1px solid gray;
}

#itchpad-toolbar {
  min-height: 22px;
  height: 22px;
  background: rgb(237, 237, 237);
}
#main-deck .sources-tree {
  background: rgb(225, 225, 225);
}

#main-deck .sources-tree .side-menu-widget-item {
  color: #18191A;
}

#main-deck .sources-tree .side-menu-widget-item .file-label {
  vertical-align: middle;
  display: inline-block;
}
#main-deck .sources-tree .side-menu-widget-item .file-icon {
  content: "";
  display: inline-block;
  background: url(file-icons-sheet@2x.png);
  background-size: 140px 15px;
  background-repeat: no-repeat;
  width: 20px;
  height: 15px;
  vertical-align: middle;
  background-position: -40px 0;
}

#main-deck .sources-tree .side-menu-widget-item .file-icon.icon-none {
  display: none;
}
#main-deck .sources-tree .side-menu-widget-item .icon-css {
  background-position: 0 0;
}
#main-deck .sources-tree .side-menu-widget-item .icon-js {
  background-position: -20px 0;
}
#main-deck .sources-tree .side-menu-widget-item .icon-html {
  background-position: -40px 0;
}
#main-deck .sources-tree .side-menu-widget-item .icon-file {
  background-position: -60px 0;
}
#main-deck .sources-tree .side-menu-widget-item .icon-folder {
  background-position: -80px 0;
}
#main-deck .sources-tree .side-menu-widget-item .icon-img {
  background-position: -100px 0;
}
#main-deck .sources-tree .side-menu-widget-item .icon-manifest {
  background-position: -120px 0;
}

#main-deck .sources-tree .side-menu-widget-item:hover {
  background: rgba(0, 0, 0, .05);
  cursor: pointer;
}

#main-deck .sources-tree .side-menu-widget-item {
  border: none;
  box-shadow: none;
  line-height: 24px;
  vertical-align: middle;
}

#main-deck .sources-tree .side-menu-widget-item.selected {
  background: #509FD7;
  color: #F5F7FA;
  outline: none;
}

#main-deck .sources-tree .side-menu-widget-group-title,
#main-deck .sources-tree .side-menu-widget-group-title.selected,
#main-deck .sources-tree .side-menu-widget-group-title:hover {
  background: #B4D7EB;
  color: #222;
  font-weight: bold;
  font-size: 1.05em;
  cursor: default;
  line-height: 35px;
}

.project-name-label {
  font-weight: bold;
  padding-left: 10px;
}
.project-version-label {
  color: #666;
  padding-left: 5px;
  font-size: .9em;
}
.project-image {
  max-height: 28px;
  margin-left: -.5em;
  vertical-align: middle;
}

#main-deck .sources-tree li.child:only-child .side-menu-widget-group-title .expander {
  display: none;
}
#main-deck .sources-tree .side-menu-widget-item .expander {
  width: 16px;
  padding: 0;
}

#sources-tabs > tabs > tab > image {
  padding-right: 4px;
}

.editor-image {
  padding: 10px;
}
.tree-collapsed .children {
  display: none;
}

#itchpad-toolbar textbox {
  margin: 0;
}

#pair-choice > toolbarbutton {
  text-shadow: none;
  min-height: 24px;
  padding: 0px 4px;
}

.itchpad-file-label {
  font-weight: bold;
  padding-left: 29px;
  vertical-align: middle;
}

.results-panel-item-match {
  font-weight: bold;
  background: #ddf;
}

.refresh-button {
  list-style-image: url("chrome://browser/skin/sync-16.png");
}

.settings-button {
  list-style-image: url("chrome://browser/skin/devtools/option-icon.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.source-live {
  list-style-image: url("chrome://browser/skin/devtools/command-responsivemode.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
.source-live:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
.source-live:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}
.source-live[selected=true] {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}

.source-project {
  list-style-image: url("chrome://browser/skin/devtools/command-tilt.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
.source-project:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.source-project:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

.source-project[checked=true] {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}

#pair-choice:not([aspects~="project"]) > #pair-project {
  display: none;
}

#pair-choice:not([aspects~="live"]) > #pair-live {
  display: none;
}

.pane-toggle {
  background: none;
  box-shadow: none;
  border: none;
  list-style-image: url("chrome://browser/skin/devtools/debugger-collapse.png");
  -moz-image-region: rect(0px,16px,16px,0px);
}

.pane-toggle[pane-collapsed] {
  list-style-image: url("chrome://browser/skin/devtools/debugger-expand.png");
}

.pane-toggle:active {
  -moz-image-region: rect(0px,32px,16px,16px);
}


/* Plugins */

.itchpad-basic-display {
  padding: 0 3px;
}

